<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vendingmachine.xr.com.coffeemachine">
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 这个权限用于读取imei码 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">




        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="TGVPGFUP2ogcHA4hjN6D0RF7TTh8faTF" />

        <activity
            android:name=".activity.StartupPageActivity"
            android:configChanges="keyboardHidden|orientation|mcc|mnc"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- <category android:name="android.intent.category.HOME" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>
        <receiver
            android:name=".mqtt.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.DownloadActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.CoffeeTestActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.SaleActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.AddGoodsActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.ChangePriceActivity"
            android:screenOrientation="landscape"
            />
        <activity android:name=".activity.FirstActivity"
            android:screenOrientation="landscape"
            />

        <service
            android:name=".mqtt.MQService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".mqtt.MQTTMessageReveiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="mqttmessage2" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".mqtt.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>